@import "../style/pages/style_tailwind.css";

@import "./pages/Inscription.css";
@import "./pages/Connexion.css";
@import "./pages/Enveloppe.css";
@import "./general/Header.css";
@import "./pages/Objectifs.css";
@import "./pages/PageMotDePasseOublie.css";

/* Reset global pour éviter le contour blanc / margin par défaut */
@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}

input {
  background: white; /* réassure le fond blanc */
  color: black;
}
