.table {
  margin-left: auto;
  margin-right: auto;
}

.button {
  color: greenyellow;
}

.container-budgets {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 1.5rem;
}

.container-budgets {
  display: grid;
  grid-template-areas:
    "budgets graph"
    "enveloppes enveloppes";
  grid-template-columns: 2fr 1fr;
  gap: 1.5rem;
}

.container-budgets > :nth-child(2) {
  grid-area: graph;
}
.container-budgets > :nth-child(1) {
  grid-area: budgets;
}
.container-budgets > :nth-child(3) {
  grid-area: enveloppes;
}

.mainPage {
  display: block;
}
